<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create New Review</title>
</head>

<body>
    <h1>Create New Review</h1>
    <!-- Форма создания нового отзыва -->
    <form th:action="@{/movies/{movieId}/reviews/create(movieId=${movieId})}" th:object="${review}" method="post">
        <!-- Поле для идентификатора фильма (скрытое) -->
        <input type="hidden" th:field="*{movieId}" th:value="${movieId}" />

        <!-- Текстовое поле для написания текста отзыва -->
        <label for="comment">Review Comment:</label>
        <textarea id="comment" th:field="*{comment}" placeholder="Write your review here" required></textarea>
        <br />

        <!-- Поле для оценки фильма (от 1 до 5) -->
        <label for="rating">Rating:</label>
        <input type="number" id="rating" th:field="*{rating}" min="1" max="5" placeholder="Rate from 1 to 5" required />
        <br />

        <!-- Кнопка для отправки формы -->
        <button type="submit">Submit Review</button>
    </form>
    <!-- Ссылка для возврата к списку отзывов для конкретного фильма -->
    <a th:href="@{/movies/{movieId}/reviews(movieId=${movieId})}">Back to Reviews</a>
</body>

</html>