<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Review</title>
</head>

<body>
    <h1>Edit Review</h1>
    <!-- Форма редактирования отзыва -->
    <form th:action="@{|/movies/{movieId}/reviews/{reviewId}/edit|(movieId=${movieId}, reviewId=${review.id})}"
        th:object="${review}" method="post">
        <input type="hidden" name="_method" value="put" />

        <!-- Скрытое поле для movieId -->
        <input type="hidden" th:field="*{movieId}" th:value="${movieId}" />

        <!-- Поле для редактирования текста отзыва -->
        <label for="comment">Review Comment:</label>
        <textarea id="comment" th:field="*{comment}"></textarea>
        <br />

        <!-- Поле для редактирования оценки фильма -->
        <label for="rating">Rating:</label>
        <input type="number" id="rating" th:field="*{rating}" min="1" max="10" />
        <br />

        <!-- Кнопка для сохранения изменений -->
        <button type="submit">Save Changes</button>
    </form>

    <!-- Ссылка для возврата к списку отзывов для конкретного фильма -->
    <a th:href="@{/movies/{movieId}/reviews(movieId=${movieId})}">Back to Reviews</a>
</body>

</html>