<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Review Details</title>
</head>

<body>
    <h1>Review Details</h1>
    <!-- Отображение подробной информации об отзыве -->
    <div>
        <p><strong>Movie ID:</strong> <span th:text="${review.movieId}"></span></p>
        <p><strong>User ID:</strong> <span th:text="${review.userId}"></span></p>
        <p><strong>Comment:</strong></p>
        <p th:text="${review.comment}"></p>
        <p><strong>Rating:</strong> <span th:text="${review.rating}"></span></p>
    </div>
    <!-- Кнопка для редактирования отзыва -->
    <a th:href="@{|/movies/{movieId}/reviews/{reviewId}/edit|(movieId=${review.movieId}, reviewId=${review.id})}">Edit
        Review</a> |

    <!-- Форма для удаления отзыва с использованием метода DELETE -->
    <form th:action="@{|/movies/{movieId}/reviews/{reviewId}/delete|(movieId=${review.movieId}, reviewId=${review.id})}"
        method="post" style="display:inline">
        <!-- CSRF-токен -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <!-- Поле для указания метода DELETE -->
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">Delete Review</button>
    </form>
    <br />
    <!-- Ссылка для возврата к списку всех отзывов фильма -->
    <a th:href="@{|/movies/{movieId}/reviews|(movieId=${review.movieId})}">Back to Review List</a>
</body>

</html>